{% extends 'header.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show container mt-3" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<main>
<div class="container mt-5" style="text-align: center;">
    <h2>Registrate</h2>
    <p>Crea un usuario y Contraseña</p> 
    <form id="registro-form" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Usuario" required>
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>
</main>
<div id="spinner" class="d-none position-fixed top-0 start-0 w-100 h-100 bg-white bg-opacity-75 d-flex justify-content-center align-items-center" style="z-index: 9999;">
  <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
<script>
  window.addEventListener('beforeunload', function () {
    document.getElementById('spinner').classList.remove('d-none');
  });
</script>
{% endblock %}
